<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application>
        <activity android:name="io.verse.the101.navigation.m1.view.HomeActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar"
            android:exported="false">

            <intent-filter android:autoVerify="true">
                <action android:name="/home" />
                <action android:name="/home/fragmentHome" />
                <action android:name="/default" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

    </application>

</manifest>